{% extends 'base_layout.html' %}

{% block content %}
    <div class="article-detail">
        <div class="article">
            <img src="{{ article.thumb.url }}" />
            <h2>{{ article.title }}</h2>
            <p>{{ article.body }}</p>
            <p>{{ article.date }}</p>
            <p class="author">Added By {{ article.author.username }}</p>
        <form action="{% url 'articles:delete' %}" method="post" class="site-form-1">
        {% csrf_token %}
        <input type="submit" value="Delete">
        </form>
        </div>
    </div>

{% endblock %}